In [5]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [2]:
import gridstatus
gridstatus.list_isos()

                                      Name     Id  Class
0                         Midcontinent ISO   miso   MISO
1                           California ISO  caiso  CAISO
2                                      PJM    pjm    PJM
3    Electric Reliability Council of Texas  ercot  Ercot
4                     Southwest Power Pool    spp    SPP
5                             New York ISO  nyiso  NYISO
6                          ISO New England  isone  ISONE
7  Independent Electricity System Operator   ieso   IESO

In [3]:
caiso = gridstatus.CAISO()

In [4]:
caiso.get_fuel_mix("today")

,Time,Interval Start,Interval End,Solar,Wind,Geothermal,Biomass,Biogas,Small Hydro,Coal,Nuclear,Natural Gas,Large Hydro,Batteries,Imports,Other
0,2024-07-15 00:00:00-07:00,2024-07-15 00:00:00-07:00,2024-07-15 00:05:00-07:00,-12,2187,791,304,184,247,0,2263,11077,3540,-602,7799,0
1,2024-07-15 00:05:00-07:00,2024-07-15 00:05:00-07:00,2024-07-15 00:10:00-07:00,-13,2148,791,304,184,244,0,2263,11086,3514,-421,7679,0
2,2024-07-15 00:10:00-07:00,2024-07-15 00:10:00-07:00,2024-07-15 00:15:00-07:00,-13,2109,791,304,185,245,0,2264,11031,3445,-235,7637,0
3,2024-07-15 00:15:00-07:00,2024-07-15 00:15:00-07:00,2024-07-15 00:20:00-07:00,-13,2074,790,305,186,244,0,2263,11030,3422,-160,7422,0
4,2024-07-15 00:20:00-07:00,2024-07-15 00:20:00-07:00,2024-07-15 00:25:00-07:00,-13,2059,791,304,188,243,0,2264,10994,3399,-92,7312,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,2024-07-15 19:50:00-07:00,2024-07-15 19:50:00-07:00,2024-07-15 19:55:00-07:00,375,4380,800,330,175,290,0,2266,16510,4650,5281,2181,0
239,2024-07-15 19:55:00-07:00,2024-07-15 19:55:00-07:00,2024-07-15 20:00:00-07:00,247,4385,800,332,175,289,0,2266,16514,4667,5231,2265,0
240,2024-07-15 20:00:00-07:00,2024-07-15 20:00:00-07:00,2024-07-15 20:05:00-07:00,168,4379,801,331,175,289,0,2267,16508,4626,5062,2475,0
241,2024-07-15 20:05:00-07:00,2024-07-15 20:05:00-07:00,2024-07-15 20:10:00-07:00,117,4373,800,333,175,287,0,2266,16343,4601,5054,2636,0
242,2024-07-15 20:10:00-07:00,2024-07-15 20:10:00-07:00,2024-07-15 20:15:00-07:00,81,4391,801,332,175,285,0,2266,16261,4569,5033,2714,0

In [6]:
nyiso = gridstatus.NYISO()
nyiso.get_load_forecast("today")

,Time,Interval Start,Interval End,Forecast Time,Load Forecast
0,2024-07-15 00:00:00-04:00,2024-07-15 00:00:00-04:00,2024-07-15 01:00:00-04:00,2024-07-15 00:00:00-04:00,20951
1,2024-07-15 01:00:00-04:00,2024-07-15 01:00:00-04:00,2024-07-15 02:00:00-04:00,2024-07-15 00:00:00-04:00,20087
2,2024-07-15 02:00:00-04:00,2024-07-15 02:00:00-04:00,2024-07-15 03:00:00-04:00,2024-07-15 00:00:00-04:00,19436
3,2024-07-15 03:00:00-04:00,2024-07-15 03:00:00-04:00,2024-07-15 04:00:00-04:00,2024-07-15 00:00:00-04:00,19051
4,2024-07-15 04:00:00-04:00,2024-07-15 04:00:00-04:00,2024-07-15 05:00:00-04:00,2024-07-15 00:00:00-04:00,19036
...,...,...,...,...,...
139,2024-07-20 19:00:00-04:00,2024-07-20 19:00:00-04:00,2024-07-20 20:00:00-04:00,2024-07-15 00:00:00-04:00,21721
140,2024-07-20 20:00:00-04:00,2024-07-20 20:00:00-04:00,2024-07-20 21:00:00-04:00,2024-07-15 00:00:00-04:00,21245
141,2024-07-20 21:00:00-04:00,2024-07-20 21:00:00-04:00,2024-07-20 22:00:00-04:00,2024-07-15 00:00:00-04:00,20717
142,2024-07-20 22:00:00-04:00,2024-07-20 22:00:00-04:00,2024-07-20 23:00:00-04:00,2024-07-15 00:00:00-04:00,19812
143,2024-07-20 23:00:00-04:00,2024-07-20 23:00:00-04:00,2024-07-21 00:00:00-04:00,2024-07-15 00:00:00-04:00,18766

In [8]:
caiso_load = caiso.get_load(start="Jan 1, 2021", end="Feb 1, 2021")
caiso_load

100%|██████████| 31/31 [00:13<00:00,  2.27it/s]

,Time,Interval Start,Interval End,Load
0,2021-01-01 00:00:00-08:00,2021-01-01 00:00:00-08:00,2021-01-01 00:05:00-08:00,21937.0
1,2021-01-01 00:05:00-08:00,2021-01-01 00:05:00-08:00,2021-01-01 00:10:00-08:00,21858.0
2,2021-01-01 00:10:00-08:00,2021-01-01 00:10:00-08:00,2021-01-01 00:15:00-08:00,21827.0
3,2021-01-01 00:15:00-08:00,2021-01-01 00:15:00-08:00,2021-01-01 00:20:00-08:00,21757.0
4,2021-01-01 00:20:00-08:00,2021-01-01 00:20:00-08:00,2021-01-01 00:25:00-08:00,21664.0
...,...,...,...,...
8923,2021-01-31 23:35:00-08:00,2021-01-31 23:35:00-08:00,2021-01-31 23:40:00-08:00,20054.0
8924,2021-01-31 23:40:00-08:00,2021-01-31 23:40:00-08:00,2021-01-31 23:45:00-08:00,19952.0
8925,2021-01-31 23:45:00-08:00,2021-01-31 23:45:00-08:00,2021-01-31 23:50:00-08:00,19859.0
8926,2021-01-31 23:50:00-08:00,2021-01-31 23:50:00-08:00,2021-01-31 23:55:00-08:00,19763.0
8927,2021-01-31 23:55:00-08:00,2021-01-31 23:55:00-08:00,2021-02-01 00:00:00-08:00,19650.0